body{
font-family: "Times New Roman",times,serif;
color: #7FDBFF;
	background-color: #001f3f;
text-shadow: 1px 1px #3D9970;
	text-align: center;
}
h1 {
font-size: 1.3em;
text-align: center;
text-shadow: 1px 1px #3D9970;
}
td, th {
border: 1px solid #F012BE;
text-align: left;
padding: 8px;
}
tr:nth-child(even) {
background-color: #001f3f;
}